& when (@media-common = true) {
    .discover-heroes {
        margin-top: 30px;
        
        .discover-content {
            margin-top: 30px;
        }

        .discover-list {
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
        }

        .discover-list__item {
            .content {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 15px;
            }

            .descovery-item-title {
                color: @color-black;
                font-size: 32px;
                margin-bottom: 6px;
                letter-spacing: .3px;
                line-height: 32px;
                text-transform: uppercase;
            }

            .descovery-item-link {
                color: @color-black;
                display: inline-block;
                font-family: @font-family-montserrat__semiBold;
                font-size: 14px;
                position: relative;
                &:after {
                    background: @color-black;
                    content: '';
                    width: calc(100% - 4px);
                    height: 2px;
                    left: 50%;
                    .transform(translateX(-50%));
                    position: absolute;
                    top: 100%;

                }

                &:hover {
                    text-decoration: none;
                }
                // text-decoration: underline;
            }
        }
    }

    .best-sellers {
        padding-bottom: 13px;
        .block-content {
            max-width: 1057px;
            margin: 0 auto;
        }

        .best-sellers-content {
            margin-left: -10px;
            margin-top: 22px;
        }

        .product-item {
            width: 100%;

            .product-item-info {
                text-align: center;
            }

            .product-item-photo {
                display: inline-block;
                max-width: 100%;
            }
        }

        .product-item .tocart {
            padding: 12px 28px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-reviews-summary {
            margin-right: 1px;
            margin-bottom: 7px;

            .rating-summary .rating-result > span:before {
                letter-spacing: 6px;
            }
        }

        .product-item .price-box .price {
            color: @color-price-gray; //homepage
            font-family: @font-family-montserrat__semiBold;//homepage
            font-size: 18px;
        }

        .product-item-name {
            margin-left: 1px;
        }

        .product-item .price-box {
            margin-top: 15px;
        }

        .product-item-details {
            .swatch-option-order {
                margin-bottom: 0;
            }
        }

        .swatch-attribute-options {
            margin: 8px 0px 0 0;
        }

        .product-item-actions .actions-secondary a {
            font-family: @font-family-montserrat__semiBold;
            font-size: 14px;
        }
    }
    
    .heading-title{
        position: relative;
        text-align: center;

        &:after {
            background-color: @gray-nav__bg;
            content: '';
            left: 0;
            width: 100%;
            height: 4px;
            position: absolute;
            top: 50%;
        }

        .title {
            background: @color-white;
            border: 4px solid @gray-nav__bg;
            color: @color-black;
            display: inline-block;
            font-size: 24px;
            margin: 0 auto;
            letter-spacing: .1px;
            padding: 8px 18px;
            position: relative;
            z-index: 10;
            text-transform: uppercase;
        }
    }

    .banner-mobile {
        display: none;
    }

    .banner-item {
        .item-content {
            position: relative;
        }

        .banner-content {
            width: 350px;
            left: 15.38%;
            padding-bottom: 19px;
            position: absolute;
            top: 50%;
            text-align: center;
            .transform(translateY(-50%));

            .content-top {
                color: @color-white;
                font-family: @font-family-montserrat__extrabold;
                font-size: 16px;
                margin-bottom: 0;
                letter-spacing: 1px;
            }

            .content-middle {
                color: @color-white;
                font-family: @font-family-komika-title-axis__regular;
                font-size: 56px;
                margin-bottom: 21px;
                line-height: 64px;
                margin-left: 19px;
                letter-spacing: 0;
            }

            .banner__link {
                background: @banner-link__bg;
                color: @color-white;
                display: inline-block;
                font-family: @font-family-montserrat__extrabold;
                font-size: 18px;
                letter-spacing: .5px;
                margin-left: -4px;
                padding: 12px 26px 11px 26px;
                background: @banner-link__bg;
            }
        }
    }
   
    .instagram-feed {
        .instagram-content {
            margin-top: 23px;
        }

        .slick-list {
            margin: 0 -4px;
        }

        .slick-slide {
            margin: 0 4px;

            img {
                width: 100%;
            }
        }

        .instagram-link {
            text-align: center;
            margin-top: 20px;

            .link {
                color: @color-black;
                display: inline-block;
                font-size: 14px;
                font-family: @font-family-montserrat__semiBold;
                line-height: 20px;
                position: relative;

                &:after {
                    content: '';
                    background: @color-black;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 100%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .banner-mobile {
        display: block;
    }

    .banner-desktop {
        display: none;
    }

    .discover-heroes {
        margin-top: 15px;

        .discover-content {
            margin-top: 8px;
        }

        .discover-list {
            display: block;
        }

        .discover-list__item {
            margin-bottom: 33px;

            img {
                display: block;
                margin: 0 auto;
            }

            &:nth-child(2) {
                margin-bottom: 24px;
                padding-left: 10px;

                img {
                    transform: scale(1.05);
                }

                .content {
                    margin-top: 19px;
                }
            }
        }

    }
    
    .best-sellers {
        margin-top: 44px;
        .best-sellers-content {
            margin-left: 0;
            margin-top: 5px;
            padding: 0 3px 0 2px;
        }

        .heading-title .title{
            padding: 6px 21px;
        }
    }

    .heading-title .title {
        font-size: 20px;
        padding: 6px 18px;
    }

    .instagram-feed {
        margin-top: 40px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .banner-item {
        .banner-content {
            width: unset;
            max-width: 350px;
            left: 43px;
            padding-bottom: 19px;
            position: absolute;
            transform: none;
            top: 85px;
            text-align: center;

            .content-top {
                font-size: 12px;
                margin-bottom: 0;
                letter-spacing: 2.25px;
            }

            .content-middle {
                font-size: 26px;
                margin-bottom: 12px;
                line-height: 32px;
                margin-left: 0;
                letter-spacing: 0
            }

            .banner__link {
                font-size: 13px;
                margin-left: 0;
                padding: 12px 22px 11px 22px;
            }
        }
    }

    .best-sellers {
        margin-top: -13px;

        .product-image-photo {
            margin-left: -3px;
        }

        .product-reviews-summary {
            margin-bottom: 0;
        }
    }

    .discover-heroes {
        overflow: hidden;
        .discover-list__item {
            margin-bottom: 37px;

            .content {
            text-align: center;
            margin-top: 16px;
            margin-bottom: 15px;
            }
        }
    }

    .instagram-feed {
        .instagram-content {
            margin-top: 14px;


            .instagram-item {
                width: 140px;
            }
        }

        .instagram-link {
            margin-top: 43px;
        }

        .slick-list {
            margin: 0 -8px;
        }

        .slick-slide {
            margin: 0 8px;
        }
    }

}