// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .lable-attribute {
        position: absolute;
        top: 29px;
        left: 21px;
        z-index: 100;
    }
    //  Product Lists
    .products {
        // margin: @indent__l 0;
        margin-top: 76px;
        margin-bottom: 7px;
    }

    .categorypath-brows.category-brows {
        .seo-text {
            display: none;
        }
    }

    #more {
        display: none;
    }

    #read-more {
        color: @color-read-more;
        font-size: 13px;
        font-family: @font-family-montserrat__regular;
    }

    .seo-text {
        margin-top: 25px;
        padding: 0 3px;

        .title {
            font-size: 20px;
            letter-spacing: 0;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 3px;
        }

        .content {
            font-family: @font-family-montserrat__regular;
            font-size: 13px;
            letter-spacing: 0;
            line-height: 22px;

            button {
                box-shadow: none;
                border: none;
                background: none;
                color: @color-read-more;
                font-family: @font-family-montserrat__regular;
                margin-top: -3px;
                padding: 0;
                font-size: 13px;
                text-decoration: underline;
            }
        }
    }

    .question-category {
        margin-top: 16px;
        margin-bottom: 9px;

        .question-content {

            .question-content__item {
                margin-bottom: 8px;
                .content {
                    display: none;
                }

                &.active {
                    .content {
                        display: block;
                    }

                    .question-title:before {
                        opacity: 0;
                    }

                    .question-title:after {
                        opacity: 1;
                    }
                }
            }
            .question-title {
                background: @question-item__bg;
                font-size: 13px;
                margin-bottom: 0;
                line-height: 16px;
                position: relative;
                padding: 20px 0;
                padding-left: 18px;
                text-transform: uppercase;

                &:before, &:after {
                    color: @color-black_dark;
                    font-family: @icon__font-fontawesome;
                    font-size: 13px;
                    font-weight: 700;
                    right: 22px;
                    top: 50%;
                    position: absolute;
                    .transform(translateY(-50%));
                }   
    
                &:before {
                    content: '\f067';
                    opacity: 1;
                }
    
                &:after {
                    content: '\f068';
                    opacity: 0;
                }
            }
        }
    }

    .product {
        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);
        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-left: 3%;
                width: calc(~'(100% - 3%)/2');
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                order: 2;
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: 0;
                margin-left: -4px;
                line-height: 16px;
                word-wrap: break-word;
                font-size: 16px;
                text-transform: uppercase;
            }

            &-info {
                max-width: 100%;
                width: 100%;
                position: relative;
                text-align: center;

                .page-products & {
                    width: 100%;
                }
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: block;
                    font-size: 1.4rem;
                    font-family: @font-family-montserrat__semiBold;
                    line-height: 20px;
                    margin-bottom: 23px ;
                    // vertical-align: middle;  

                    a {
                        color: @color-black;
                        position: relative;

                        &:after {
                            background: @color-black;
                            content: '';
                            width: 100%;
                            height: 2px;
                            left: 50%;
                            .transform(translateX(-50%));
                            position: absolute;
                            top: 100%;
                        }
                    }

                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 12px;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 -11px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                order: 3;
                margin-top: 23px;
                margin-right: 1px;
                .price {
                    color: @color-gray-darken3;
                    // color: @color-price-gray; //homepage
                    // font-family: @font-family-montserrat__semiBold;//homepage
                    font-family: @font-family-montserrat__medium;
                    // font-weight: @font-weight__bold;
                    font-size: 14px;
                    white-space: nowrap;    
                }

                .normal-price.normal-price-special {
                    margin-left: 14px;

                    .price {
                        color: @color-price-special;
                    }
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(16px);
                background: @cart-background__primary;
                border: 2px solid @cart-background__primary;
                border-radius: 0;
                color: @color-white;
                font-family: @font-family-montserrat__bold;
                line-height: 1;
                letter-spacing: .5px;
                //padding: 12px 28px;//homepage
                padding: 12px 46px;
                white-space: nowrap;
                text-transform: uppercase;
            }

            .price-box .price-label {
                display: none;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

    .product-item-details {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .swatch-option-order {
            order: 4;
            margin-bottom: 2px;
        }
    }

    .page-products .products-grid .product-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 39px;
        grid-row-gap: 0;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-products {
        .navigation, 
        .breadcrumbs, 
        .page-header .header.panel, 
        .header.content, .footer.content, 
        .page-main, 
        .page-wrapper > .widget, 
        .page-wrapper > .page-bottom, 
        .block.category.event, 
        .top-container {
            // padding: 0 10px;
        }

        .services-section {
            display: none;
        }
    }
    
    .products {
        margin-top: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .lib-css(box-shadow, none);
                border: none;
                // margin: -10px;
                // padding: 9px;
                position: relative;
                z-index: 9;

                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        left: 9px;
                        top: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, none);
            border: none;
            border-top: none;
            margin: 10px 0 0 -1px;
            // padding: 0 9px 9px;
            position: relative;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: 0;
        }

        .actions-primary + .actions-secondary {
            display: block;
            vertical-align: middle;
            font-size: 13px;
            font-family: @font-family-montserrat__medium;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: inline-block;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        // &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }

        .product-item-inner {
            order: 5;
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-left: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .block.widget .products-grid .product-item,
    .page-layout-1column .block.widget .products-grid .product-item,
    .page-layout-3columns .block.widget .products-grid .product-item {
        .product-item-inner {
            box-shadow: none;
            margin: 0;
            width: auto;
            height: auto;
            margin-top: 13px;
            overflow: unset;
            position: relative;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .products {
        margin-top: 30px;
    }

    .categorypath-brows.category-brows {
        .seo-text {
            display: block;
        }
    }

    .product-item-actions .actions-primary {
        display: block;
    }

    .product-item-actions .actions-secondary {
        margin-top: 15px;
    }

    .product-item {
        .tocart {
            display: block;
            width: 100%;
            padding: 12px 28px;
        }
    }

    .page-products .products-grid .product-items {
        display: block;
        margin-top: 0;
        padding: 0 3px;
    }

    .block.filter {
        display: block;
        position: relative;

        .block-content.filter-content {
            // border: 0;
            // clip: rect(0, 0, 0, 0);
            // height: 1px;
            // margin: -1px;
            // overflow: hidden;
            // padding: 0;
            // position: absolute;
            // width: 1px;

            position: absolute;
            width: 150px;
            /* background: #ddd; */
            z-index: 1000;
            opacity: 0;
            overflow: hidden;
        }

        .filter-title strong {
            color: @color-header-blue;
            font-size: 11px;
            line-height: 14px;
            position: relative;
            text-align: center;
            text-transform: uppercase;

            &:before {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                top: 100%;
                left: 0;
                background: @color-header-blue;
            }
        }
    }

    .page-with-filter .columns .sidebar-main {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    .navigation.sidebar {
        display: none;
    }

    .product-item-inner {
        order: 5;
    }

    .product-item-details {
        margin-top: 8px;
    }

    .product-item-name {
        margin-top: 8px;   
        padding-left: 3px;
    }

    .product-item .price-box {
        margin-top: 17px;
        margin-right: 0;

        .price {
        color: @color-price-listing;
        font-family: @font-family-montserrat__semiBold;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        }
    }

    .product-item-details .swatch-option-order {
        margin-bottom: 13px;
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-2columns-left .column.main {
        width: 82.5%;
        padding-left: 0;
    }

    .page-products {
        .products-grid {
            .product-item {
                margin-left: 0;
                width: 100%;

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: 0;
                padding: 0;
                width: 100%;
                margin-bottom: 8px;
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1200px) {
    .page-products .products-grid .product-items {
        grid-template-columns: 1fr 1fr;
    }
}